{% extends 'base.html.twig' %}

{% block title %}Edit Cobro{% endblock %}

{% block body %}
    <h1>Edit Cobro</h1>

    {{ include('cobro/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_cobro_index') }}">back to list</a>

    {{ include('cobro/_delete_form.html.twig') }}
{% endblock %}
