<form method="post" action="{{ path('app_cobro_modo_pago_delete', {'idcobroModoPago': cobro_modo_pago.idcobroModoPago}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ cobro_modo_pago.idcobroModoPago) }}">
    <button class="btn">Delete</button>
</form>
