{% extends 'base.html.twig' %}

{% block title %}Edit CobroModoPago{% endblock %}

{% block body %}
    <h1>Edit CobroModoPago</h1>

    {{ include('cobro_modo_pago/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_cobro_modo_pago_index') }}">back to list</a>

    {{ include('cobro_modo_pago/_delete_form.html.twig') }}
{% endblock %}
