<form method="post" action="{{ path('app_venta_delete', {'idventa': ventum.idventa}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ventum.idventa) }}">
    <button class="btn">Delete</button>
</form>
