{% extends 'base.html.twig' %}

{% block title %}Nueva Venta{% endblock %}

{% block body %}
    <h1>Crear Nueva Venta</h1>

    {{ include('venta/_form.html.twig') }}

    
    <a href="{{ path('app_venta_index') }}">back to list</a>
{% endblock %}
{% block javascripts_2 %}
<script>


const removeElementFromCollection = (e) =>{
  e.preventDefault();
  // const collectionHolder = document.querySelector('.' + e.currentTarget.dataset.collectionHolderClass);
   e.target.parentNode.parentNode.removeChild(e.target.parentNode);
}

const addFormToCollection = (e) => {
  const collectionHolder = document.querySelector('.' + e.currentTarget.dataset.collectionHolderClass);

  const item = document.createElement('li');
  const button = document.createElement('button');
  
  button.innerHTML="Quitar";
  button.classList.add("btn-danger");
  button.classList.add("remove-product");

  item.innerHTML = collectionHolder
    .dataset
    .prototype
    .replace(
      /__name__/g,
      collectionHolder.dataset.index
    );

    item.appendChild(button);

  button.addEventListener("click",removeElementFromCollection);

  collectionHolder.appendChild(item);

  collectionHolder.dataset.index++;
};


document
  .querySelectorAll('.remove-product')
  .forEach(btn=>{
    btn.addEventListener("click",removeElementFromCollection)
  });
document
  .querySelectorAll('.add_item_link')
  .forEach(btn => {
      btn.addEventListener("click", addFormToCollection)
  });
  
  
</script>
{% endblock %}
