<form method="post" action="{{ path('app_grupo_delete', {'idgrupo': grupo.idgrupo}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ grupo.idgrupo) }}">
    <button class="btn">Delete</button>
</form>
