{% extends 'base.html.twig' %}

{% block title %}Edit Familia{% endblock %}

{% block body %}
    <h1>Edit Familia</h1>

    {{ include('familia/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_familia_index') }}">back to list</a>

    {{ include('familia/_delete_form.html.twig') }}
{% endblock %}
