<form method="post" action="{{ path('app_departamento_delete', {'iddepartamento': departamento.iddepartamento}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ departamento.iddepartamento) }}">
    <button class="btn">Delete</button>
</form>
