{% extends 'base.html.twig' %}

{% block title %}New Departamento{% endblock %}

{% block body %}
    <h1>Create new Departamento</h1>

    {{ include('departamento/_form.html.twig') }}

    <a href="{{ path('app_departamento_index') }}">back to list</a>
{% endblock %}
