{% extends 'base.html.twig' %}

{% block title %}New ProductoHasVenta{% endblock %}

{% block body %}
    <h1>Create new ProductoHasVenta</h1>

    {{ include('producto_has_venta/_form.html.twig') }}

    <a href="{{ path('app_producto_has_venta_index') }}">back to list</a>
{% endblock %}
