{#codigo, it is a select#}
<form>
    <div class="form-group">
        <label for="codigo">C&oacute;digo</label>
        <select class="form-control" name="codigo">
        </select>
    </div>
    <div class="form-group">
        <label for="">Costo</label>
        <input type="number" min="0" value="0" id="_costo" name="costo" class="form-control">
    </div>
    <div class="form-group">
        <label for="">Precio</label>
        <input type="number" min="0" value="0" id="_precio" name="precio" class="form-control">
    </div>
    <div class="form-group">
        <label for="">Precio Vendedor</label>
        <input type="number" min="0" value="0" id="_precio_v" name="precio_v" class="form-control">
    </div>
    <div class="form-group">
        <label for="">Cantidad</label>
        <input type="number" min="0" value="0" id="_cantidad" name="cantidad" class="form-control">
    </div>
</form>