{% extends 'base.html.twig' %}

{% block title %}New ModoPago{% endblock %}

{% block body %}
    <h1>Create new ModoPago</h1>

    {{ include('modo_pago/_form.html.twig') }}

    <a href="{{ path('app_modo_pago_index') }}">back to list</a>
{% endblock %}
